{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./src"],
        "alias": {
          "!": "./src"
        },
        "extensions": [
          ".ts",
          ".tsx",
          ".js",
          ".jsx",
          ".json",
          ".ios.ts",
          ".ios.tsx",
          ".android.ts",
          ".android.tsx"
        ]
      }
    ]
  ]
}
